<div class="component-container-horizontal center-element">

    <div 
        class="component-container-vertical-width-height-param shadowed" 
        style="
        --width: calc(100% - 20px); 
        --height: calc(100% - 20px); 
        background-color: white;
        border-radius: 20px;
        ">

        @if (this.title && this.title.length > 0) {
            <div class="component-container-vertical-height-param component-template-header center-main-axis" style="--height: 70px;">
                <div class="medium-horizontal-margin" style="width: 100%; text-overflow: ellipsis;">
                    <p style="color: #7E909A; margin: 0px 0px 0px 0px !important;"><b>{{ title }}</b></p>
                </div>
            </div>
        }

        <div class="component-container-horizontal">
            <ng-content></ng-content>
        </div>

    </div>


</div>