<div class="component-container-horizontal">

    <div style="padding: 0px 10px 0px 10px;">

        <div style="display: flex; flex-wrap: wrap; position: relative;">
            @for (token of this._tokenDistribution; track $index) {


                @let selectedToken = token | tokenSelectorPipe;
                <div style="margin: 0px 3px 0px 3px;" (click)="this.tokenClicked.emit(token)">
                    <app-selected-token [token]="selectedToken"></app-selected-token>
                </div>
                
            }
        </div>

    </div>

</div>

