/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; width: 100; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden; }


mat-toolbar, mat-toolbar-single-row {
    height: 100% !important;
}

form{

    width: 97%;
    height: 90%;

    display: flex;

}


mat-form-field {

    width: 100%;
    height: 100%;

}

